<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="pdfkit-pag_size" content="A5"/>
    <meta name="pdfkit-margin_top" content="2in"/>
    <meta name="pdfkit-margin_right" content="2in"/>
    <meta name="pdfkit-margin_bottom" content="2in"/>
    <meta name="pdfkit-margin_left" content="2in"/>
    <title>Untitled Document</title>
    <style type="text/css">

        body, td, th {
            font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
            color: #000000;
            font-size: 13px;
            line-height: 130%;
        }

        .simple {
            margin-left: auto;
            margin-right: auto;
        }

        .simple td {
            padding: 16px;
        }

        .text-right {
            text-align: right;
        }

        .vert {
            border-bottom: 1px solid #000000;
        }

        .bolder {
            font-weight: bold;
        }

        h2 {
            line-height: 140%;
        }

        /***********/


    </style>
</head>
<body>
<div id="main" layout="column">
    <div id="invoice" class="page-layout blank" layout="row">
        <div class="invoice-container">

            <!-- INVOICE -->
            <div class="card">
                <div class="header">
                </div>

                <div class="content">

                    <table class="simple invoice-table" width="80%">
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="5" align="right"><h2><%- billingAddress %></h2></td>
                        </tr>
                        <tr>
                            <td>PLACE.ME<br>
                                1 Fore Street<br>
                                London
                                EC2Y 9DT
                            </td>
                            <td colspan="5"><h2>&nbsp;</h2>
                                <br/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"><p style="display:"><strong>Invoice
                                        no.</strong><span><%= invoiceNo %></span></p>
                                <p><strong>Date:</strong><span><%= moment(createdAt).format(shortDateFormat) %></span>
                                </p></td>
                            <td class="bolder text-right">&nbsp;</td>
                            <td class="bolder text-right">&nbsp;</td>
                            <td class="bolder text-right">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="vert bolder">Description</td>
                            <td class="vert bolder text-right">QUANTITY</td>
                            <td class="vert bolder text-right">UNIT PRICE</td>
                            <td class="vert bolder text-right">TOTAL</td>
                        </tr>

                        <% for(var i = 0;i < items.length;i++) {
                            var service = items[i]; %>
                        <tr>
                            <td colspan="3">
                                <%= service.description %>

                            </td>
                            <td class="text-right">
                                <%= service.qty %>
                            </td>
                            <td class="text-right">
                                <%= service.cost %>
                            </td>
                            <td class="text-right">
                                <%= service.total %>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <td class="vert"></td>
                            <td class="vert"></td>
                            <td class="vert"></td>
                            <td class="vert"></td>
                            <td class="vert"></td>
                            <td class="vert"></td>
                        </tr>
                        <% if(taxes > 0) { %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="right" class="bolder">TAX</td>
                            <td class="text-right"><%= tax %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td align="right" class=" bolder">TOTAL</td>
                            <td class=" text-right"><%= totalCost %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">Please pay to:</td>

                        </tr>
                        <tr>
                            <td colspan="6"><%- bankDetails %></td>

                        </tr>

                    </table>


                </div>

            </div>

            <!-- / INVOICE -->

            <!-- Use the following element to add breaks to your pages -->
            <!-- This will make sure that the section after this element will be printed on a new page -->
            <div class="page-break"></div>

        </div>
    </div>
</div>

</body>
</html>