<html prefix="og: http://ogp.me/ns#">
<head>
  <meta property="og:title" content="<%= title %> (job ref. <%= internalCode %>)" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:url" content="http://app.place-me.co.uk/joboffer/<%= id %>" />
  <meta property="og:image" content="http://app.place-me.co.uk/assets/images/logos/hybrid80x80.png" />
</head>
<body>
<%= title %>
<%- description %>
</body>
</html>
