<% include head %>
<p>Saving your Linkedin session...</p>
<script type="text/javascript">
Parse.User.become('<%= sessionToken %>').then(function (user) {
  window.location.href='/main';
},
function (error) {
  alert('Login with Linkedin Failed.');
  console.log(error);
  //window.location.href='/';
});
</script>
<% include foot %>
