<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="pdfkit-pag_size" content="A5"/>
  <meta name="pdfkit-margin_top" content="2in"/>
  <meta name="pdfkit-margin_right" content="2in"/>
  <meta name="pdfkit-margin_bottom" content="2in"/>
  <meta name="pdfkit-margin_left" content="2in"/>
  <title>Untitled Document</title>
  <style type="text/css">

    body, td, th {
      font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
      color: #000000;
      font-size:11px;
      line-height: 100%;
    }
  </style>
</head>
<body>
<table border="0" cellpadding="8" style="margin-left:auto;margin-right:auto;">
  <tbody>
  <tr>
    <td>
      <table width="100%" border="0" style="margin-left:auto;margin-right:auto;">
        <tbody>
        <tr>
          <td align="center" valign="middle"><img
              src="https://app.place-me.co.uk/assets/images/logos/hybrid128.png"></td>
        </tr>
        <tr>
          <td align="center" valign="middle">Deadline for Timesheets 6pm every Friday</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td align="left">
      <br/>

      <table border="0" cellpadding="8" >
        <tbody>
        <tr>
          <td >Candidate name</td>
          <td ><%= authorName %></td>
        </tr>
        <tr>
          <td >Candidate email</td>
          <td ><%= authorEmail %></td>
        </tr>
        <tr>
          <td >Job Title</td>
          <td ><%= projectTitle %></td>
        </tr>
        </tbody>
      </table>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" cellpadding="8" style="margin-left:auto;margin-right:auto;" width="100%">
        <col>
        <col span="2">
        <col>
        <tr>
          <td align="left" valign="bottom"></td>
          <td align="left" valign="bottom">Date and Month</td>
          <td align="left" valign="bottom">Standard <%= timeModel %> Worked</td>
          <td align="left" valign="bottom">Additonal Notes/Purchase Order No's</td>
        </tr>
        <% for(var i = 0; i < weekModel.length; i++) { %>
        <tr style="border:1px solid #000000;">
          <td style="border:1px solid #000000;"><%= weekModel[i].dayLabel %></td>
          <td style="border:1px solid #000000;"><%= moment(weekModel[i].theDate).format(shortDateFormat) %></td>
          <td align="right" style="border:1px solid #000000;"><%= weekModel[i].measure %></td>
          <td style="border:1px solid #000000;"><%= weekModel[i].notes %></td>
        </tr>
        <% } %>
        <tr>
          <td></td>
          <td></td>
          <td align="right" style="border:1px solid #000000;"><%= totalTime %> <%= timeModel %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
      <br/>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="8" style="margin-left:auto;margin-right:auto;">
        <tbody>
        <tr>
          <td valign="bottom" >Client Signature:</td>
          <td valign="bottom"  style="border-bottom: 1px solid #000000;" width="100">&nbsp;</td>
          <td  valign="bottom" >Printed Name</td>
          <td valign="bottom" style="border-bottom: 1px solid #000000;"><%= signerName %></td>
          <td valign="bottom" >Job Title</td>
          <td style="border-bottom: 1px solid #000000;"><%= signerRole %></td>
          <td valign="bottom" >Date</td>
          <td valign="bottom"  style="border-bottom: 1px solid #000000;"><%= moment(new Date()).format(shortDateFormat) %></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
